<div class='progress-msg'>Tue, 30 Jan 2018 12:55:19 +0000</div>
<div class="progress-msg">[12:55:19] Composing titles...</div>
<div class="progress-msg">[12:55:19] Composing excerpts...</div>
<div class="progress-msg">[12:55:19] Composing authors...</div>
<div class="progress-msg">[12:55:19] Composing slugs...</div>
<div class="progress-msg">[12:55:19] Composing menu order...</div>
<div class="progress-msg">[12:55:19] Composing contents...</div>
<div class="progress-msg">[12:55:19] Composing dates...</div>
<div class="progress-msg">[12:55:19] Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">[12:55:19] Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">[12:55:19] Composing URLs for images...</div>
<div class="progress-msg">[12:55:19] Composing URLs for attachments files...</div>
<div class="progress-msg">[12:55:19] Composing unique keys...</div>
<div class="progress-msg">[12:55:19] Processing posts...</div>
<div class="progress-msg">[12:55:19] Data parsing via add-ons...</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #1</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `Solar Energy Jobs: A Perfect Guide To Workers Orientation`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `Solar Energy Jobs: A Perfect Guide To Workers Orientation`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `Solar Energy Jobs: A Perfect Guide To Workers Orientation - 739 - solar-energy-jobs-a-perfect-guide-to-workers-orientation`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `Solar Energy Jobs: A Perfect Guide To Workers Orientation`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `Solar Energy Jobs: A Perfect Guide To Workers Orientation` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `Solar Energy Jobs: A Perfect Guide To Workers Orientation` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `Solar Energy Jobs: A Perfect Guide To Workers Orientation` `Post` (ID: 1156)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #2</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `Mobile Phones On-Site: Harmful or Helpful?`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `Mobile Phones On-Site: Harmful or Helpful?`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `Mobile Phones On-Site: Harmful or Helpful? - 456 - mobile-phones-on-site-helpful-or-harmful`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `Mobile Phones On-Site: Harmful or Helpful?`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `Mobile Phones On-Site: Harmful or Helpful?` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `Mobile Phones On-Site: Harmful or Helpful?` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `Mobile Phones On-Site: Harmful or Helpful?` `Post` (ID: 1157)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #3</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `Initiafy Dublin Breakfast Briefing Part 1: Don Ward`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `Initiafy Dublin Breakfast Briefing Part 1: Don Ward`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `Initiafy Dublin Breakfast Briefing Part 1: Don Ward - 733 - initiafy-dublin-breakfast-briefing-part-1-don-ward`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `Initiafy Dublin Breakfast Briefing Part 1: Don Ward`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `Initiafy Dublin Breakfast Briefing Part 1: Don Ward` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `Initiafy Dublin Breakfast Briefing Part 1: Don Ward` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `Initiafy Dublin Breakfast Briefing Part 1: Don Ward` `Post` (ID: 1158)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #4</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `Why Are Productivity Levels Plummeting in Construction?`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `Why Are Productivity Levels Plummeting in Construction?`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `Why Are Productivity Levels Plummeting in Construction? - 732 - why-are-productivity-levels-plummeting-in-construction`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `Why Are Productivity Levels Plummeting in Construction?`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `Why Are Productivity Levels Plummeting in Construction?` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `Why Are Productivity Levels Plummeting in Construction?` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `Why Are Productivity Levels Plummeting in Construction?` `Post` (ID: 1159)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #5</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `New York Breakfast Briefing Part 2: Rich Steimel`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `New York Breakfast Briefing Part 2: Rich Steimel`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `New York Breakfast Briefing Part 2: Rich Steimel - 731 - new-york-breakfast-briefing-part-2-rich-steimel`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `New York Breakfast Briefing Part 2: Rich Steimel`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `New York Breakfast Briefing Part 2: Rich Steimel` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `New York Breakfast Briefing Part 2: Rich Steimel` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `New York Breakfast Briefing Part 2: Rich Steimel` `Post` (ID: 1160)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #6</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `Initiafy's Data Archival Feature`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `Initiafy's Data Archival Feature`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `Initiafy's Data Archival Feature - 729 - initiafys-data-archival-feature`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `Initiafy's Data Archival Feature`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `Initiafy's Data Archival Feature` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `Initiafy's Data Archival Feature` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `Initiafy's Data Archival Feature` `Post` (ID: 1161)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] ---</div>
<div class="progress-msg">[12:55:19] Record #7</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:55:19] Combine all data for post `New York Breakfast Briefing Part 1: Chris Toomey`...</div>
<div class="progress-msg">[12:55:19] Find corresponding article among previously imported for post `New York Breakfast Briefing Part 1: Chris Toomey`...</div>
<div class="progress-msg">[12:55:19] Duplicate post wasn't found with unique key `New York Breakfast Briefing Part 1: Chris Toomey - 728 - new-york-breakfast-briefing-part-1-chris-toomey`...</div>
<div class="progress-msg">[12:55:19] Applying filter `pmxi_article_data` for `New York Breakfast Briefing Part 1: Chris Toomey`</div>
<div class="progress-msg">[12:55:19] <b>CREATING</b> `New York Breakfast Briefing Part 1: Chris Toomey` `Post`</div>
<div class="progress-msg">[12:55:19] Associate post `New York Breakfast Briefing Part 1: Chris Toomey` with current import ...</div>
<div class="progress-msg">[12:55:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `category` ...</div>
<div class="progress-msg">[12:55:19] - Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">[12:55:19] <b>CREATED</b> `New York Breakfast Briefing Part 1: Chris Toomey` `Post` (ID: 1162)</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:55:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:55:19] Cleaning temporary data...</div>
