<div class='progress-msg'>Mon, 05 Feb 2018 07:27:14 +0000</div>
<div class="progress-msg">[07:27:14] Composing titles...</div>
<div class="progress-msg">[07:27:14] Composing excerpts...</div>
<div class="progress-msg">[07:27:14] Composing authors...</div>
<div class="progress-msg">[07:27:14] Composing slugs...</div>
<div class="progress-msg">[07:27:14] Composing menu order...</div>
<div class="progress-msg">[07:27:14] Composing contents...</div>
<div class="progress-msg">[07:27:14] Composing dates...</div>
<div class="progress-msg">[07:27:14] Composing terms for `Category` taxonomy...</div>
<div class="progress-msg">[07:27:14] Composing URLs for images...</div>
<div class="progress-msg">[07:27:14] Composing URLs for attachments files...</div>
<div class="progress-msg">[07:27:14] Composing unique keys...</div>
<div class="progress-msg">[07:27:14] Processing posts...</div>
<div class="progress-msg">[07:27:14] Data parsing via add-ons...</div>
<div class="progress-msg">[07:27:14] ---</div>
<div class="progress-msg">[07:27:14] Record #1</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:14] Combine all data for post `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use`...</div>
<div class="progress-msg">[07:27:14] Find corresponding article among previously imported for post `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use`...</div>
<div class="progress-msg">[07:27:14] Duplicate post wasn't found with unique key `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use - 738 - webinar-data-archival-feature`...</div>
<div class="progress-msg">[07:27:14] Applying filter `pmxi_article_data` for `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use`</div>
<div class="progress-msg">[07:27:14] <b>CREATING</b> `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use` `Resource`</div>
<div class="progress-msg">[07:27:14] Associate post `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use` with current import ...</div>
<div class="progress-msg">[07:27:14] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:14] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:14] <b>CREATED</b> `Webinar: How the Data Archival Feature helps to keep the Initiafy platform organized and easy to use` `Resource` (ID: 2417)</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:14] ---</div>
<div class="progress-msg">[07:27:14] Record #2</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:14] Combine all data for post `Outlook of the Heavy Industry in the US and UK 2018`...</div>
<div class="progress-msg">[07:27:14] Find corresponding article among previously imported for post `Outlook of the Heavy Industry in the US and UK 2018`...</div>
<div class="progress-msg">[07:27:14] Duplicate post wasn't found with unique key `Outlook of the Heavy Industry in the US and UK 2018 - 735 - outlook-of-the-heavy-industry-in-the-us-and-uk-2018`...</div>
<div class="progress-msg">[07:27:14] Applying filter `pmxi_article_data` for `Outlook of the Heavy Industry in the US and UK 2018`</div>
<div class="progress-msg">[07:27:14] <b>CREATING</b> `Outlook of the Heavy Industry in the US and UK 2018` `Resource`</div>
<div class="progress-msg">[07:27:14] Associate post `Outlook of the Heavy Industry in the US and UK 2018` with current import ...</div>
<div class="progress-msg">[07:27:14] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:14] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:14] <b>CREATED</b> `Outlook of the Heavy Industry in the US and UK 2018` `Resource` (ID: 2418)</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:14] ---</div>
<div class="progress-msg">[07:27:14] Record #3</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:14] Combine all data for post `Initiafy's new traffic light feature: Procedure and benefits`...</div>
<div class="progress-msg">[07:27:14] Find corresponding article among previously imported for post `Initiafy's new traffic light feature: Procedure and benefits`...</div>
<div class="progress-msg">[07:27:14] Duplicate post wasn't found with unique key `Initiafy's new traffic light feature: Procedure and benefits - 722 - initiafys-new-traffic-light-feature-procedure-and-benefits`...</div>
<div class="progress-msg">[07:27:14] Applying filter `pmxi_article_data` for `Initiafy's new traffic light feature: Procedure and benefits`</div>
<div class="progress-msg">[07:27:14] <b>CREATING</b> `Initiafy's new traffic light feature: Procedure and benefits` `Resource`</div>
<div class="progress-msg">[07:27:14] Associate post `Initiafy's new traffic light feature: Procedure and benefits` with current import ...</div>
<div class="progress-msg">[07:27:14] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:14] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:14] <b>CREATED</b> `Initiafy's new traffic light feature: Procedure and benefits` `Resource` (ID: 2419)</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:14] ---</div>
<div class="progress-msg">[07:27:14] Record #4</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:14] Combine all data for post `The Effects of Mining on Human Health`...</div>
<div class="progress-msg">[07:27:14] Find corresponding article among previously imported for post `The Effects of Mining on Human Health`...</div>
<div class="progress-msg">[07:27:14] Duplicate post wasn't found with unique key `The Effects of Mining on Human Health - 718 - the-effects-of-mining-on-human-health`...</div>
<div class="progress-msg">[07:27:14] Applying filter `pmxi_article_data` for `The Effects of Mining on Human Health`</div>
<div class="progress-msg">[07:27:14] <b>CREATING</b> `The Effects of Mining on Human Health` `Resource`</div>
<div class="progress-msg">[07:27:14] Associate post `The Effects of Mining on Human Health` with current import ...</div>
<div class="progress-msg">[07:27:14] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:14] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:14] <b>CREATED</b> `The Effects of Mining on Human Health` `Resource` (ID: 2420)</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:14] ---</div>
<div class="progress-msg">[07:27:14] Record #5</div>
<div class="progress-msg">[07:27:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:14] Combine all data for post `How to Protect Workers in Cold Weather Conditions`...</div>
<div class="progress-msg">[07:27:14] Find corresponding article among previously imported for post `How to Protect Workers in Cold Weather Conditions`...</div>
<div class="progress-msg">[07:27:14] Duplicate post wasn't found with unique key `How to Protect Workers in Cold Weather Conditions - 714 - how-to-protect-workers-in-cold-weather-conditions`...</div>
<div class="progress-msg">[07:27:14] Applying filter `pmxi_article_data` for `How to Protect Workers in Cold Weather Conditions`</div>
<div class="progress-msg">[07:27:14] <b>CREATING</b> `How to Protect Workers in Cold Weather Conditions` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `How to Protect Workers in Cold Weather Conditions` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `How to Protect Workers in Cold Weather Conditions` `Resource` (ID: 2421)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #6</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `The Protection of the Construction Industry From Rising Cyber Crime`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `The Protection of the Construction Industry From Rising Cyber Crime`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `The Protection of the Construction Industry From Rising Cyber Crime - 709 - the-protection-of-the-construction-industry-from-rising-cyber-crime`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `The Protection of the Construction Industry From Rising Cyber Crime`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `The Protection of the Construction Industry From Rising Cyber Crime` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `The Protection of the Construction Industry From Rising Cyber Crime` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `The Protection of the Construction Industry From Rising Cyber Crime` `Resource` (ID: 2422)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #7</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Smyths Toys Superstores - Onboarding retail staff for the festive season`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Smyths Toys Superstores - Onboarding retail staff for the festive season`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Smyths Toys Superstores - Onboarding retail staff for the festive season - 615 - smyths-toys-superstores-onboarding-retail-staff-for-the-festive-season`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Smyths Toys Superstores - Onboarding retail staff for the festive season`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Smyths Toys Superstores - Onboarding retail staff for the festive season` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Smyths Toys Superstores - Onboarding retail staff for the festive season` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Smyths Toys Superstores - Onboarding retail staff for the festive season` `Resource` (ID: 2423)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #8</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Webinar: How shared registration of contractors gives more choice to parent companies`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Webinar: How shared registration of contractors gives more choice to parent companies`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Webinar: How shared registration of contractors gives more choice to parent companies - 703 - webinar-shared-registration`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Webinar: How shared registration of contractors gives more choice to parent companies`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Webinar: How shared registration of contractors gives more choice to parent companies` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Webinar: How shared registration of contractors gives more choice to parent companies` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Webinar: How shared registration of contractors gives more choice to parent companies` `Resource` (ID: 2424)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #9</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction) - 701 - using-worker-related-analytics-to-safely-hire-the-right-worker-in-construct`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Using Worker-Related Analytics to Safely Hire the Right Worker (in Construction)` `Resource` (ID: 2425)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #10</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `The Increased Importance of Wearable Technologies in Construction`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `The Increased Importance of Wearable Technologies in Construction`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `The Increased Importance of Wearable Technologies in Construction - 697 - the-increased-importance-of-wearable-technologies-in-construction`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `The Increased Importance of Wearable Technologies in Construction`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `The Increased Importance of Wearable Technologies in Construction` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `The Increased Importance of Wearable Technologies in Construction` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `The Increased Importance of Wearable Technologies in Construction` `Resource` (ID: 2426)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #11</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Dealing With the Issues of Ageing Population in the Construction Industry`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Dealing With the Issues of Ageing Population in the Construction Industry`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Dealing With the Issues of Ageing Population in the Construction Industry - 682 - dealing-with-the-issues-of-aging-population-in-the`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Dealing With the Issues of Ageing Population in the Construction Industry`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Dealing With the Issues of Ageing Population in the Construction Industry` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Dealing With the Issues of Ageing Population in the Construction Industry` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Dealing With the Issues of Ageing Population in the Construction Industry` `Resource` (ID: 2427)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #12</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System - 680 - webinar-how-to-monitor-and-control-worker-behavior-using-initiafys-new-traf`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Webinar: How to monitor and control worker behavior using Initiafy’s new Traffic Light System` `Resource` (ID: 2428)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #13</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Ensuring the Safety of Nuclear Power Plant Contractors`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Ensuring the Safety of Nuclear Power Plant Contractors`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Ensuring the Safety of Nuclear Power Plant Contractors - 669 - ensuring-the-safety-of-nuclear-power-plant-contractors`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Ensuring the Safety of Nuclear Power Plant Contractors`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Ensuring the Safety of Nuclear Power Plant Contractors` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Ensuring the Safety of Nuclear Power Plant Contractors` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Ensuring the Safety of Nuclear Power Plant Contractors` `Resource` (ID: 2429)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #14</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `How Prefabrication and Modularization Can Improve Safety`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `How Prefabrication and Modularization Can Improve Safety`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `How Prefabrication and Modularization Can Improve Safety - 661 - how-prefabrication-and-modularization-can-improve-safety`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `How Prefabrication and Modularization Can Improve Safety`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `How Prefabrication and Modularization Can Improve Safety` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `How Prefabrication and Modularization Can Improve Safety` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `How Prefabrication and Modularization Can Improve Safety` `Resource` (ID: 2430)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #15</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `How to Develop and Implement a Behavior Based Safety Program`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `How to Develop and Implement a Behavior Based Safety Program`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `How to Develop and Implement a Behavior Based Safety Program - 656 - how-to-develop-and-implement-a-behavior-based-safety-program`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `How to Develop and Implement a Behavior Based Safety Program`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `How to Develop and Implement a Behavior Based Safety Program` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `How to Develop and Implement a Behavior Based Safety Program` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `How to Develop and Implement a Behavior Based Safety Program` `Resource` (ID: 2431)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #16</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Working at Heights Harness Safety`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Working at Heights Harness Safety`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Working at Heights Harness Safety - 607 - working-at-heights-harness-safety`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Working at Heights Harness Safety`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Working at Heights Harness Safety` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Working at Heights Harness Safety` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Working at Heights Harness Safety` `Resource` (ID: 2432)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #17</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After - 611 - goldcorp-case-study`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Case Study: Orientations on Goldcorp’s Red Lake Site - Before and After` `Resource` (ID: 2433)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #18</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Battling the Dangers of Working in the Heat`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Battling the Dangers of Working in the Heat`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Battling the Dangers of Working in the Heat - 608 - battling-the-dangers-of-working-in-the-heat`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Battling the Dangers of Working in the Heat`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Battling the Dangers of Working in the Heat` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Battling the Dangers of Working in the Heat` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Battling the Dangers of Working in the Heat` `Resource` (ID: 2434)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #19</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `The Key Topics to Cover in Your Safety Orientation`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `The Key Topics to Cover in Your Safety Orientation`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `The Key Topics to Cover in Your Safety Orientation - 609 - the-key-topics-to-cover-in-your-safety-orientation`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `The Key Topics to Cover in Your Safety Orientation`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `The Key Topics to Cover in Your Safety Orientation` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `The Key Topics to Cover in Your Safety Orientation` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `The Key Topics to Cover in Your Safety Orientation` `Resource` (ID: 2435)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:15] ---</div>
<div class="progress-msg">[07:27:15] Record #20</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:15] Combine all data for post `Best Practices in Orientating New Contractors`...</div>
<div class="progress-msg">[07:27:15] Find corresponding article among previously imported for post `Best Practices in Orientating New Contractors`...</div>
<div class="progress-msg">[07:27:15] Duplicate post wasn't found with unique key `Best Practices in Orientating New Contractors - 610 - best-practices-in-orientating-new-contractors`...</div>
<div class="progress-msg">[07:27:15] Applying filter `pmxi_article_data` for `Best Practices in Orientating New Contractors`</div>
<div class="progress-msg">[07:27:15] <b>CREATING</b> `Best Practices in Orientating New Contractors` `Resource`</div>
<div class="progress-msg">[07:27:15] Associate post `Best Practices in Orientating New Contractors` with current import ...</div>
<div class="progress-msg">[07:27:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:15] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:15] <b>CREATED</b> `Best Practices in Orientating New Contractors` `Resource` (ID: 2436)</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:15] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:16] ---</div>
<div class="progress-msg">[07:27:16] Record #21</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:16] Combine all data for post `Monitoring, Measuring, and Improving Safety Performance`...</div>
<div class="progress-msg">[07:27:16] Find corresponding article among previously imported for post `Monitoring, Measuring, and Improving Safety Performance`...</div>
<div class="progress-msg">[07:27:16] Duplicate post wasn't found with unique key `Monitoring, Measuring, and Improving Safety Performance - 612 - monitoring-measuring-and-improving-safety-performance`...</div>
<div class="progress-msg">[07:27:16] Applying filter `pmxi_article_data` for `Monitoring, Measuring, and Improving Safety Performance`</div>
<div class="progress-msg">[07:27:16] <b>CREATING</b> `Monitoring, Measuring, and Improving Safety Performance` `Resource`</div>
<div class="progress-msg">[07:27:16] Associate post `Monitoring, Measuring, and Improving Safety Performance` with current import ...</div>
<div class="progress-msg">[07:27:16] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:16] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:16] <b>CREATED</b> `Monitoring, Measuring, and Improving Safety Performance` `Resource` (ID: 2437)</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:16] ---</div>
<div class="progress-msg">[07:27:16] Record #22</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:16] Combine all data for post `Reducing Costs of Workplace Accidents and Injuries`...</div>
<div class="progress-msg">[07:27:16] Find corresponding article among previously imported for post `Reducing Costs of Workplace Accidents and Injuries`...</div>
<div class="progress-msg">[07:27:16] Duplicate post wasn't found with unique key `Reducing Costs of Workplace Accidents and Injuries - 613 - reducing-costs-of-workplace-accidents-and-injuries`...</div>
<div class="progress-msg">[07:27:16] Applying filter `pmxi_article_data` for `Reducing Costs of Workplace Accidents and Injuries`</div>
<div class="progress-msg">[07:27:16] <b>CREATING</b> `Reducing Costs of Workplace Accidents and Injuries` `Resource`</div>
<div class="progress-msg">[07:27:16] Associate post `Reducing Costs of Workplace Accidents and Injuries` with current import ...</div>
<div class="progress-msg">[07:27:16] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:16] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:16] <b>CREATED</b> `Reducing Costs of Workplace Accidents and Injuries` `Resource` (ID: 2438)</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:16] ---</div>
<div class="progress-msg">[07:27:16] Record #23</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:16] Combine all data for post `The Definitive Guide to Bringing Contractors Up to Speed`...</div>
<div class="progress-msg">[07:27:16] Find corresponding article among previously imported for post `The Definitive Guide to Bringing Contractors Up to Speed`...</div>
<div class="progress-msg">[07:27:16] Duplicate post wasn't found with unique key `The Definitive Guide to Bringing Contractors Up to Speed - 653 - the-definitive-guide-to-bringing-contractors-up-to-speed`...</div>
<div class="progress-msg">[07:27:16] Applying filter `pmxi_article_data` for `The Definitive Guide to Bringing Contractors Up to Speed`</div>
<div class="progress-msg">[07:27:16] <b>CREATING</b> `The Definitive Guide to Bringing Contractors Up to Speed` `Resource`</div>
<div class="progress-msg">[07:27:16] Associate post `The Definitive Guide to Bringing Contractors Up to Speed` with current import ...</div>
<div class="progress-msg">[07:27:16] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:16] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:16] <b>CREATED</b> `The Definitive Guide to Bringing Contractors Up to Speed` `Resource` (ID: 2439)</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:16] ---</div>
<div class="progress-msg">[07:27:16] Record #24</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:16] Combine all data for post `Before You Start on Site - Poster`...</div>
<div class="progress-msg">[07:27:16] Find corresponding article among previously imported for post `Before You Start on Site - Poster`...</div>
<div class="progress-msg">[07:27:16] Duplicate post wasn't found with unique key `Before You Start on Site - Poster - 652 - before-you-start-on-site-poster`...</div>
<div class="progress-msg">[07:27:16] Applying filter `pmxi_article_data` for `Before You Start on Site - Poster`</div>
<div class="progress-msg">[07:27:16] <b>CREATING</b> `Before You Start on Site - Poster` `Resource`</div>
<div class="progress-msg">[07:27:16] Associate post `Before You Start on Site - Poster` with current import ...</div>
<div class="progress-msg">[07:27:16] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:16] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:16] <b>CREATED</b> `Before You Start on Site - Poster` `Resource` (ID: 2440)</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:16] ---</div>
<div class="progress-msg">[07:27:16] Record #25</div>
<div class="progress-msg">[07:27:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:16] Combine all data for post `What Is Contractor Management?`...</div>
<div class="progress-msg">[07:27:16] Find corresponding article among previously imported for post `What Is Contractor Management?`...</div>
<div class="progress-msg">[07:27:16] Duplicate post wasn't found with unique key `What Is Contractor Management? - 651 - what-is-contractor-management`...</div>
<div class="progress-msg">[07:27:16] Applying filter `pmxi_article_data` for `What Is Contractor Management?`</div>
<div class="progress-msg">[07:27:16] <b>CREATING</b> `What Is Contractor Management?` `Resource`</div>
<div class="progress-msg">[07:27:16] Associate post `What Is Contractor Management?` with current import ...</div>
<div class="progress-msg">[07:27:16] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `What Is Contractor Management?` `Resource` (ID: 2441)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #26</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Guidelines to Purchasing the Best Management Software for Your Construction`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Guidelines to Purchasing the Best Management Software for Your Construction`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Guidelines to Purchasing the Best Management Software for Your Construction - 650 - guidelines-to-purchasing-the-best-management-software-for-your-construction`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Guidelines to Purchasing the Best Management Software for Your Construction`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Guidelines to Purchasing the Best Management Software for Your Construction` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Guidelines to Purchasing the Best Management Software for Your Construction` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Guidelines to Purchasing the Best Management Software for Your Construction` `Resource` (ID: 2442)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #27</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `How to Choose the Best Tablet Computer for Heavy Industry Workplaces`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `How to Choose the Best Tablet Computer for Heavy Industry Workplaces`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `How to Choose the Best Tablet Computer for Heavy Industry Workplaces - 649 - how-to-choose-the-best-tablet-computer-for-heavy-industry-workplaces`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `How to Choose the Best Tablet Computer for Heavy Industry Workplaces`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `How to Choose the Best Tablet Computer for Heavy Industry Workplaces` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `How to Choose the Best Tablet Computer for Heavy Industry Workplaces` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `How to Choose the Best Tablet Computer for Heavy Industry Workplaces` `Resource` (ID: 2443)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #28</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Site Safety Rules`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Site Safety Rules`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Site Safety Rules - 648 - site-safety-rules`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Site Safety Rules`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Site Safety Rules` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Site Safety Rules` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Site Safety Rules` `Resource` (ID: 2444)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #29</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Employee Orientation Checklist`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Employee Orientation Checklist`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Employee Orientation Checklist - 647 - employee-orientation-checklist`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Employee Orientation Checklist`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Employee Orientation Checklist` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Employee Orientation Checklist` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Employee Orientation Checklist` `Resource` (ID: 2445)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #30</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `PPE for Construction Poster`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `PPE for Construction Poster`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `PPE for Construction Poster - 646 - ppe-for-construction-poster`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `PPE for Construction Poster`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `PPE for Construction Poster` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `PPE for Construction Poster` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `PPE for Construction Poster` `Resource` (ID: 2446)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #31</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `PPE for Production Poster`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `PPE for Production Poster`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `PPE for Production Poster - 645 - ppe-for-production-poster`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `PPE for Production Poster`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `PPE for Production Poster` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `PPE for Production Poster` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `PPE for Production Poster` `Resource` (ID: 2447)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #32</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Wind Farm Safety Poster`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Wind Farm Safety Poster`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Wind Farm Safety Poster - 644 - wind-farm-safety-poster`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Wind Farm Safety Poster`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Wind Farm Safety Poster` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Wind Farm Safety Poster` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Wind Farm Safety Poster` `Resource` (ID: 2448)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #33</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `6 Tips to Make Your Contractor Part of the Team`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `6 Tips to Make Your Contractor Part of the Team`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `6 Tips to Make Your Contractor Part of the Team - 643 - 6-tips-to-make-your-contractor-part-of-the-team`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `6 Tips to Make Your Contractor Part of the Team`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `6 Tips to Make Your Contractor Part of the Team` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `6 Tips to Make Your Contractor Part of the Team` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `6 Tips to Make Your Contractor Part of the Team` `Resource` (ID: 2449)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #34</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Whose Responsibility Are Contract Workers?`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Whose Responsibility Are Contract Workers?`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Whose Responsibility Are Contract Workers? - 642 - whose-responsibility-are-contract-workers`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Whose Responsibility Are Contract Workers?`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Whose Responsibility Are Contract Workers?` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Whose Responsibility Are Contract Workers?` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Whose Responsibility Are Contract Workers?` `Resource` (ID: 2450)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #35</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Mining Contractor Orientation`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Mining Contractor Orientation`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Mining Contractor Orientation - 641 - mining-contractor-orientation`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Mining Contractor Orientation`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Mining Contractor Orientation` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Mining Contractor Orientation` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Mining Contractor Orientation` `Resource` (ID: 2451)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #36</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `What are the Dangers of Becoming a Wind-farm Contractor?`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `What are the Dangers of Becoming a Wind-farm Contractor?`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `What are the Dangers of Becoming a Wind-farm Contractor? - 640 - what-are-the-dangers-of-becoming-a-wind-farm-contractor`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `What are the Dangers of Becoming a Wind-farm Contractor?`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `What are the Dangers of Becoming a Wind-farm Contractor?` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `What are the Dangers of Becoming a Wind-farm Contractor?` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `What are the Dangers of Becoming a Wind-farm Contractor?` `Resource` (ID: 2452)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #37</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `How can Companies Prepare for an Aging Workforce?`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `How can Companies Prepare for an Aging Workforce?`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `How can Companies Prepare for an Aging Workforce? - 639 - how-can-companies-prepare-for-an-aging-workforce`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `How can Companies Prepare for an Aging Workforce?`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `How can Companies Prepare for an Aging Workforce?` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `How can Companies Prepare for an Aging Workforce?` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `How can Companies Prepare for an Aging Workforce?` `Resource` (ID: 2453)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #38</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `​Orientation Topics That Can be Covered Online (and Those That CANNOT!) - 638 - induction-topics-that-can-be-covered-online-and-those-that-cannot`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `​Orientation Topics That Can be Covered Online (and Those That CANNOT!)` `Resource` (ID: 2454)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #39</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `Manual Handling`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `Manual Handling`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `Manual Handling - 637 - manual-handling`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `Manual Handling`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `Manual Handling` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `Manual Handling` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `Manual Handling` `Resource` (ID: 2455)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:17] ---</div>
<div class="progress-msg">[07:27:17] Record #40</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:17] Combine all data for post `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'`...</div>
<div class="progress-msg">[07:27:17] Find corresponding article among previously imported for post `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'`...</div>
<div class="progress-msg">[07:27:17] Duplicate post wasn't found with unique key `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting' - 636 - new-fair-pay-and-safe-workplaces-executive-order-referred-to-as-blacklistin`...</div>
<div class="progress-msg">[07:27:17] Applying filter `pmxi_article_data` for `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'`</div>
<div class="progress-msg">[07:27:17] <b>CREATING</b> `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'` `Resource`</div>
<div class="progress-msg">[07:27:17] Associate post `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'` with current import ...</div>
<div class="progress-msg">[07:27:17] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:17] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:17] <b>CREATED</b> `New Fair Pay and Safe Workplaces Executive Order Referred to as 'Blacklisting'` `Resource` (ID: 2456)</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #41</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Why Video Content is Great for Training`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Why Video Content is Great for Training`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Why Video Content is Great for Training - 635 - why-video-content-is-great-for-training-and-how-to-create-your-own`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Why Video Content is Great for Training`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Why Video Content is Great for Training` `Resource`</div>
<div class="progress-msg">[07:27:18] Associate post `Why Video Content is Great for Training` with current import ...</div>
<div class="progress-msg">[07:27:18] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:18] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:18] <b>CREATED</b> `Why Video Content is Great for Training` `Resource` (ID: 2457)</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #42</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Bord na Mona Edenderry Power Plant: Online Induction Case Study`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Bord na Mona Edenderry Power Plant: Online Induction Case Study`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Bord na Mona Edenderry Power Plant: Online Induction Case Study - 616 - bord-na-mona-edenderry-power-plant-online-induction-case-study`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Bord na Mona Edenderry Power Plant: Online Induction Case Study`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Bord na Mona Edenderry Power Plant: Online Induction Case Study` `Resource`</div>
<div class="progress-msg">[07:27:18] Associate post `Bord na Mona Edenderry Power Plant: Online Induction Case Study` with current import ...</div>
<div class="progress-msg">[07:27:18] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:18] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:18] <b>CREATED</b> `Bord na Mona Edenderry Power Plant: Online Induction Case Study` `Resource` (ID: 2458)</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #43</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Safe Use of Machinery`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Safe Use of Machinery`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Safe Use of Machinery - 634 - safe-use-of-machinery`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Safe Use of Machinery`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Safe Use of Machinery` `Resource`</div>
<div class="progress-msg">[07:27:18] Associate post `Safe Use of Machinery` with current import ...</div>
<div class="progress-msg">[07:27:18] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:18] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:18] <b>CREATED</b> `Safe Use of Machinery` `Resource` (ID: 2459)</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #44</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Safety with Electricity - Poster`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Safety with Electricity - Poster`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Safety with Electricity - Poster - 633 - safety-with-electricity-poster`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Safety with Electricity - Poster`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Safety with Electricity - Poster` `Resource`</div>
<div class="progress-msg">[07:27:18] Associate post `Safety with Electricity - Poster` with current import ...</div>
<div class="progress-msg">[07:27:18] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:18] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:18] <b>CREATED</b> `Safety with Electricity - Poster` `Resource` (ID: 2460)</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #45</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Safety with Electricity Ebook`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Safety with Electricity Ebook`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Safety with Electricity Ebook - 632 - safety-with-electricity-ebook`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Safety with Electricity Ebook`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Safety with Electricity Ebook` `Resource`</div>
<div class="progress-msg">[07:27:18] Associate post `Safety with Electricity Ebook` with current import ...</div>
<div class="progress-msg">[07:27:18] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:18] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:18] <b>CREATED</b> `Safety with Electricity Ebook` `Resource` (ID: 2461)</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:18] ---</div>
<div class="progress-msg">[07:27:18] Record #46</div>
<div class="progress-msg">[07:27:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:18] Combine all data for post `Mary Darlington - Health and Safety Specialist`...</div>
<div class="progress-msg">[07:27:18] Find corresponding article among previously imported for post `Mary Darlington - Health and Safety Specialist`...</div>
<div class="progress-msg">[07:27:18] Duplicate post wasn't found with unique key `Mary Darlington - Health and Safety Specialist - 618 - mary-darlington-health-and-safety-specialist`...</div>
<div class="progress-msg">[07:27:18] Applying filter `pmxi_article_data` for `Mary Darlington - Health and Safety Specialist`</div>
<div class="progress-msg">[07:27:18] <b>CREATING</b> `Mary Darlington - Health and Safety Specialist` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Mary Darlington - Health and Safety Specialist` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Mary Darlington - Health and Safety Specialist` `Resource` (ID: 2462)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #47</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `How Initiafy Changed the Contractor Onboarding Process at ISG`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `How Initiafy Changed the Contractor Onboarding Process at ISG`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `How Initiafy Changed the Contractor Onboarding Process at ISG - 614 - how-initiafy-changed-contractor-on-boarding-at-isg`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `How Initiafy Changed the Contractor Onboarding Process at ISG`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `How Initiafy Changed the Contractor Onboarding Process at ISG` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `How Initiafy Changed the Contractor Onboarding Process at ISG` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `How Initiafy Changed the Contractor Onboarding Process at ISG` `Resource` (ID: 2463)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #48</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Pharma Lab Safety`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Pharma Lab Safety`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Pharma Lab Safety - 631 - pharma-lab-safety`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Pharma Lab Safety`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Pharma Lab Safety` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Pharma Lab Safety` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Pharma Lab Safety` `Resource` (ID: 2464)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #49</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Lock Out / Tag Out ebook`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Lock Out / Tag Out ebook`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Lock Out / Tag Out ebook - 630 - lock-out-tag-out-ebook`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Lock Out / Tag Out ebook`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Lock Out / Tag Out ebook` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Lock Out / Tag Out ebook` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Lock Out / Tag Out ebook` `Resource` (ID: 2465)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #50</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Lock Out / Tag Out Poster`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Lock Out / Tag Out Poster`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Lock Out / Tag Out Poster - 629 - lock-out-tag-out-poster`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Lock Out / Tag Out Poster`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Lock Out / Tag Out Poster` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Lock Out / Tag Out Poster` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Lock Out / Tag Out Poster` `Resource` (ID: 2466)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #51</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Wind Farm Safety`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Wind Farm Safety`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Wind Farm Safety - 628 - wind-farm-safety`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Wind Farm Safety`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Wind Farm Safety` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Wind Farm Safety` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Wind Farm Safety` `Resource` (ID: 2467)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #52</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `PPE Ebook`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `PPE Ebook`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `PPE Ebook - 627 - personal-protective-equipment`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `PPE Ebook`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `PPE Ebook` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `PPE Ebook` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `PPE Ebook` `Resource` (ID: 2468)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #53</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Driver Safety On-Site`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Driver Safety On-Site`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Driver Safety On-Site - 626 - driver-safety-on-site`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Driver Safety On-Site`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Driver Safety On-Site` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Driver Safety On-Site` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Driver Safety On-Site` `Resource` (ID: 2469)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #54</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `New Hire Checklist`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `New Hire Checklist`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `New Hire Checklist - 625 - new-hire-checklist`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `New Hire Checklist`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `New Hire Checklist` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `New Hire Checklist` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `New Hire Checklist` `Resource` (ID: 2470)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #55</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Six Essential Topics to Cover During Seaport Orientations and Safety Training`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Six Essential Topics to Cover During Seaport Orientations and Safety Training`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Six Essential Topics to Cover During Seaport Orientations and Safety Training - 624 - six-essential-topics-to-cover-during-seaport-orientations-and-safety-traini`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Six Essential Topics to Cover During Seaport Orientations and Safety Training`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Six Essential Topics to Cover During Seaport Orientations and Safety Training` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Six Essential Topics to Cover During Seaport Orientations and Safety Training` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Six Essential Topics to Cover During Seaport Orientations and Safety Training` `Resource` (ID: 2471)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #56</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Top Tips for Mining Safety`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Top Tips for Mining Safety`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Top Tips for Mining Safety - 623 - top-tips-for-mining-safety`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Top Tips for Mining Safety`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Top Tips for Mining Safety` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Top Tips for Mining Safety` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Top Tips for Mining Safety` `Resource` (ID: 2472)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #57</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Five Steps To Chemical Safety`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Five Steps To Chemical Safety`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Five Steps To Chemical Safety - 622 - five-steps-to-chemical-safety`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Five Steps To Chemical Safety`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Five Steps To Chemical Safety` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Five Steps To Chemical Safety` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Five Steps To Chemical Safety` `Resource` (ID: 2473)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #58</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Interview with Mary Darlington - Safety Leadership`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Interview with Mary Darlington - Safety Leadership`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Interview with Mary Darlington - Safety Leadership - 654 - mary-darlington-interview`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Interview with Mary Darlington - Safety Leadership`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Interview with Mary Darlington - Safety Leadership` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Interview with Mary Darlington - Safety Leadership` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Interview with Mary Darlington - Safety Leadership` `Resource` (ID: 2474)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #59</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Choosing the Right Topics for your Toolbox Talks`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Choosing the Right Topics for your Toolbox Talks`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Choosing the Right Topics for your Toolbox Talks - 621 - choosing-the-right-topics-for-your-toolbox-talks`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Choosing the Right Topics for your Toolbox Talks`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Choosing the Right Topics for your Toolbox Talks` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Choosing the Right Topics for your Toolbox Talks` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Choosing the Right Topics for your Toolbox Talks` `Resource` (ID: 2475)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:19] ---</div>
<div class="progress-msg">[07:27:19] Record #60</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:19] Combine all data for post `Checklist for Keeping Visitors Safe`...</div>
<div class="progress-msg">[07:27:19] Find corresponding article among previously imported for post `Checklist for Keeping Visitors Safe`...</div>
<div class="progress-msg">[07:27:19] Duplicate post wasn't found with unique key `Checklist for Keeping Visitors Safe - 620 - checklist-for-keeping-visitors-safe`...</div>
<div class="progress-msg">[07:27:19] Applying filter `pmxi_article_data` for `Checklist for Keeping Visitors Safe`</div>
<div class="progress-msg">[07:27:19] <b>CREATING</b> `Checklist for Keeping Visitors Safe` `Resource`</div>
<div class="progress-msg">[07:27:19] Associate post `Checklist for Keeping Visitors Safe` with current import ...</div>
<div class="progress-msg">[07:27:19] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:19] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:19] <b>CREATED</b> `Checklist for Keeping Visitors Safe` `Resource` (ID: 2476)</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:20] ---</div>
<div class="progress-msg">[07:27:20] Record #61</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:20] Combine all data for post `Webinar - Best Practices for Worker On-boarding`...</div>
<div class="progress-msg">[07:27:20] Find corresponding article among previously imported for post `Webinar - Best Practices for Worker On-boarding`...</div>
<div class="progress-msg">[07:27:20] Duplicate post wasn't found with unique key `Webinar - Best Practices for Worker On-boarding - 619 - webinar-best-practices-for-worker-on-boarding`...</div>
<div class="progress-msg">[07:27:20] Applying filter `pmxi_article_data` for `Webinar - Best Practices for Worker On-boarding`</div>
<div class="progress-msg">[07:27:20] <b>CREATING</b> `Webinar - Best Practices for Worker On-boarding` `Resource`</div>
<div class="progress-msg">[07:27:20] Associate post `Webinar - Best Practices for Worker On-boarding` with current import ...</div>
<div class="progress-msg">[07:27:20] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:20] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:20] <b>CREATED</b> `Webinar - Best Practices for Worker On-boarding` `Resource` (ID: 2477)</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:20] ---</div>
<div class="progress-msg">[07:27:20] Record #62</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[07:27:20] Combine all data for post `Guest Blog: How Initiafy Changed Inductions`...</div>
<div class="progress-msg">[07:27:20] Find corresponding article among previously imported for post `Guest Blog: How Initiafy Changed Inductions`...</div>
<div class="progress-msg">[07:27:20] Duplicate post wasn't found with unique key `Guest Blog: How Initiafy Changed Inductions - 617 - guest-blog-how-initiafy-changed-inductions`...</div>
<div class="progress-msg">[07:27:20] Applying filter `pmxi_article_data` for `Guest Blog: How Initiafy Changed Inductions`</div>
<div class="progress-msg">[07:27:20] <b>CREATING</b> `Guest Blog: How Initiafy Changed Inductions` `Resource`</div>
<div class="progress-msg">[07:27:20] Associate post `Guest Blog: How Initiafy Changed Inductions` with current import ...</div>
<div class="progress-msg">[07:27:20] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[07:27:20] - Importing taxonomy `resource-category` ...</div>
<div class="progress-msg">[07:27:20] <b>CREATED</b> `Guest Blog: How Initiafy Changed Inductions` `Resource` (ID: 2478)</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[07:27:20] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[07:27:20] Cleaning temporary data...</div>
