/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 6px; 
    top: 33px;
    background: #43aa2e;
    border-radius: 20px;
    -moz-border-radius: 16px;
}
.irs-line-left {
   height: 20px;
   background-color: #43aa2e;
   z-index: 1;
   width: 30px;
}
.irs-line-mid {
    height: 20px;
    background-color: #2f3540;
}
.irs-line-right {
    height: 20px;
    background-color: #2f3540;
}

.irs-bar {
    height: 6px; 
    top: 33px;
    background: #43aa2e;
}
.irs-bar-edge {
    height: 20px; top: 33px;
    width: 14px;
    border-right: 0;
    background: #2f3540;
    display: none;
}

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 17px;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e1e1;
    background: #f6f5f5;
    border-radius: 30px;
    -moz-border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 4.75px 0.25px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.irs-slider:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 10px;
    width: 25px;
    height: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 6px 0 6px;
    border-color: #f5f5f5 transparent transparent transparent;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: none !important;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #2f3540;
    font-size: 16px;
    line-height: 43px;
    text-shadow: none;
    padding: 1px 5px;
    background: #f5f5f5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 43px;
    font-family: "Montserrat", sans;
    border: 1px solid #e4e3e3;
    border-radius: 4px 4px 10px 4px;
    top: -50px;
    font-weight: 700;
    box-shadow: 0px 6px 6.58px 0.42px rgba(0, 0, 0, 0.16);
    transition: all 0.4s;
    padding: 0px 25px;
}

.irs-single:before {
    content: "Up to "
}

.irs-single:after {
    content: " users"
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    background: #2f3540;
    width: 4px;
    height: 37px;
}
.irs-grid-pol.small {
    background: #999;
    display: none;
}

.irs-grid-text {
    bottom: -35px;
    font-size: 16px;
    color: #2f3540;
    font-family: "Montserrat", "sans";
    font-weight: 700;
}

.irs-disabled {
}
